################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mdaresna/bin/Debug/net8.0/Mdaresna.dll
/Mdaresna/bin/Debug/net8.0/Mdaresna.exe
/Mdaresna/bin/Debug/net8.0/Mdaresna.Infrastructure.dll
/Mdaresna/bin/Debug/net8.0/Mdaresna.Infrastructure.pdb
/Mdaresna/bin/Debug/net8.0/Mdaresna.pdb
/Mdaresna/obj/Debug/net8.0/ref/Mdaresna.dll
/Mdaresna/obj/Debug/net8.0/refint/Mdaresna.dll
/Mdaresna/obj/Debug/net8.0/apphost.exe
/Mdaresna/obj/Debug/net8.0/Mdaresna.AssemblyInfo.cs
/Mdaresna/obj/Debug/net8.0/Mdaresna.AssemblyInfoInputs.cache
/Mdaresna/obj/Debug/net8.0/Mdaresna.csproj.AssemblyReference.cache
/Mdaresna/obj/Debug/net8.0/Mdaresna.dll
/Mdaresna/obj/Debug/net8.0/Mdaresna.pdb
/Mdaresna/obj/Debug/net8.0/Mdaresna.sourcelink.json
/Mdaresna.Infrastructure/bin/Debug/net8.0/Mdaresna.Infrastructure.dll
/Mdaresna.Infrastructure/bin/Debug/net8.0/Mdaresna.Infrastructure.pdb
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.AssemblyInfo.cs
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.AssemblyInfoInputs.cache
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.dll
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.pdb
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.sourcelink.json
/Mdaresna.Infrastructure/obj/Debug/net8.0/ref/Mdaresna.Infrastructure.dll
/Mdaresna.Infrastructure/obj/Debug/net8.0/refint/Mdaresna.Infrastructure.dll
/Mdaresna/bin/Debug/net8.0/Mdaresna.Doamin.dll
/Mdaresna/bin/Debug/net8.0/Mdaresna.Doamin.pdb
/Mdaresna/bin/Debug/net8.0/Mdaresna.Repository.dll
/Mdaresna/bin/Debug/net8.0/Mdaresna.Repository.pdb
/Mdaresna/obj/Debug/net8.0/ApiEndpoints.json
/Mdaresna.Doamin/bin/Debug/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Doamin/bin/Debug/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Doamin/obj/Debug/net8.0/ref/Mdaresna.Doamin.dll
/Mdaresna.Doamin/obj/Debug/net8.0/refint/Mdaresna.Doamin.dll
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.AssemblyInfo.cs
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.AssemblyInfoInputs.cache
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.sourcelink.json
/Mdaresna.Infrastructure/bin/Debug/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Infrastructure/bin/Debug/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Infrastructure/bin/Debug/net8.0/Mdaresna.Repository.dll
/Mdaresna.Infrastructure/bin/Debug/net8.0/Mdaresna.Repository.pdb
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.csproj.AssemblyReference.cache
/Mdaresna.Repository/bin/Debug/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Repository/bin/Debug/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Repository/bin/Debug/net8.0/Mdaresna.Repository.dll
/Mdaresna.Repository/bin/Debug/net8.0/Mdaresna.Repository.pdb
/Mdaresna.Repository/obj/Debug/net8.0/ref/Mdaresna.Repository.dll
/Mdaresna.Repository/obj/Debug/net8.0/refint/Mdaresna.Repository.dll
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.AssemblyInfo.cs
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.AssemblyInfoInputs.cache
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.csproj.AssemblyReference.cache
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.dll
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.pdb
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.sourcelink.json
/Mdaresna/bin/Debug/net8.0/appsettings.json
/Mdaresna/bin/Release/net8.0/appsettings.json
/Mdaresna/bin/Release/net8.0/Mdaresna.dll
/Mdaresna/bin/Release/net8.0/Mdaresna.Doamin.dll
/Mdaresna/bin/Release/net8.0/Mdaresna.Doamin.pdb
/Mdaresna/bin/Release/net8.0/Mdaresna.exe
/Mdaresna/bin/Release/net8.0/Mdaresna.Infrastructure.dll
/Mdaresna/bin/Release/net8.0/Mdaresna.Infrastructure.pdb
/Mdaresna/bin/Release/net8.0/Mdaresna.pdb
/Mdaresna/bin/Release/net8.0/Mdaresna.Repository.dll
/Mdaresna/bin/Release/net8.0/Mdaresna.Repository.pdb
/Mdaresna/obj/Release/net8.0/PubTmp/Out/appsettings.json
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.dll
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.Doamin.dll
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.Doamin.pdb
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.exe
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.Infrastructure.dll
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.Infrastructure.pdb
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.pdb
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.Repository.dll
/Mdaresna/obj/Release/net8.0/PubTmp/Out/Mdaresna.Repository.pdb
/Mdaresna/obj/Release/net8.0/ref/Mdaresna.dll
/Mdaresna/obj/Release/net8.0/refint/Mdaresna.dll
/Mdaresna/obj/Release/net8.0/apphost.exe
/Mdaresna/obj/Release/net8.0/Mdaresna.AssemblyInfo.cs
/Mdaresna/obj/Release/net8.0/Mdaresna.AssemblyInfoInputs.cache
/Mdaresna/obj/Release/net8.0/Mdaresna.csproj.AssemblyReference.cache
/Mdaresna/obj/Release/net8.0/Mdaresna.dll
/Mdaresna/obj/Release/net8.0/Mdaresna.pdb
/Mdaresna/obj/Release/net8.0/Mdaresna.sourcelink.json
/Mdaresna/Properties/PublishProfiles/FolderProfile.pubxml
/Mdaresna/Properties/PublishProfiles/FolderProfile.pubxml.user
/Mdaresna.Doamin/bin/Release/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Doamin/bin/Release/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Doamin/obj/Release/net8.0/ref/Mdaresna.Doamin.dll
/Mdaresna.Doamin/obj/Release/net8.0/refint/Mdaresna.Doamin.dll
/Mdaresna.Doamin/obj/Release/net8.0/Mdaresna.Doamin.AssemblyInfo.cs
/Mdaresna.Doamin/obj/Release/net8.0/Mdaresna.Doamin.AssemblyInfoInputs.cache
/Mdaresna.Doamin/obj/Release/net8.0/Mdaresna.Doamin.csproj.CoreCompileInputs.cache
/Mdaresna.Doamin/obj/Release/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Doamin/obj/Release/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Doamin/obj/Release/net8.0/Mdaresna.Doamin.sourcelink.json
/Mdaresna.Infrastructure/bin/Release/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Infrastructure/bin/Release/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Infrastructure/bin/Release/net8.0/Mdaresna.Infrastructure.dll
/Mdaresna.Infrastructure/bin/Release/net8.0/Mdaresna.Infrastructure.pdb
/Mdaresna.Infrastructure/bin/Release/net8.0/Mdaresna.Repository.dll
/Mdaresna.Infrastructure/bin/Release/net8.0/Mdaresna.Repository.pdb
/Mdaresna.Infrastructure/obj/Release/net8.0/ref/Mdaresna.Infrastructure.dll
/Mdaresna.Infrastructure/obj/Release/net8.0/refint/Mdaresna.Infrastructure.dll
/Mdaresna.Infrastructure/obj/Release/net8.0/Mdaresna.Infrastructure.AssemblyInfo.cs
/Mdaresna.Infrastructure/obj/Release/net8.0/Mdaresna.Infrastructure.AssemblyInfoInputs.cache
/Mdaresna.Infrastructure/obj/Release/net8.0/Mdaresna.Infrastructure.csproj.AssemblyReference.cache
/Mdaresna.Infrastructure/obj/Release/net8.0/Mdaresna.Infrastructure.csproj.CoreCompileInputs.cache
/Mdaresna.Infrastructure/obj/Release/net8.0/Mdaresna.Infrastructure.dll
/Mdaresna.Infrastructure/obj/Release/net8.0/Mdaresna.Infrastructure.pdb
/Mdaresna.Infrastructure/obj/Release/net8.0/Mdaresna.Infrastructure.sourcelink.json
/Mdaresna.Repository/bin/Release/net8.0/Mdaresna.Doamin.dll
/Mdaresna.Repository/bin/Release/net8.0/Mdaresna.Doamin.pdb
/Mdaresna.Repository/bin/Release/net8.0/Mdaresna.Repository.dll
/Mdaresna.Repository/bin/Release/net8.0/Mdaresna.Repository.pdb
/Mdaresna.Repository/obj/Release/net8.0/ref/Mdaresna.Repository.dll
/Mdaresna.Repository/obj/Release/net8.0/refint/Mdaresna.Repository.dll
/Mdaresna.Repository/obj/Release/net8.0/Mdaresna.Repository.AssemblyInfo.cs
/Mdaresna.Repository/obj/Release/net8.0/Mdaresna.Repository.AssemblyInfoInputs.cache
/Mdaresna.Repository/obj/Release/net8.0/Mdaresna.Repository.csproj.AssemblyReference.cache
/Mdaresna.Repository/obj/Release/net8.0/Mdaresna.Repository.dll
/Mdaresna.Repository/obj/Release/net8.0/Mdaresna.Repository.pdb
/Mdaresna.Repository/obj/Release/net8.0/Mdaresna.Repository.sourcelink.json
/Mdaresna/obj/Release/net8.0/Mdaresna.csproj.CoreCompileInputs.cache
/Mdaresna.Repository/obj/Release/net8.0/Mdaresna.Repository.csproj.CoreCompileInputs.cache
/Mdaresna/obj/Debug/net8.0/Mdaresna.assets.cache
/Mdaresna/obj/Debug/net8.0/Mdaresna.GeneratedMSBuildEditorConfig.editorconfig
/Mdaresna/obj/Mdaresna.csproj.nuget.dgspec.json
/Mdaresna/obj/Mdaresna.csproj.nuget.g.props
/Mdaresna/obj/project.assets.json
/Mdaresna/obj/project.nuget.cache
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.assets.cache
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.csproj.AssemblyReference.cache
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.GeneratedMSBuildEditorConfig.editorconfig
/Mdaresna.Doamin/obj/Mdaresna.Doamin.csproj.nuget.dgspec.json
/Mdaresna.Doamin/obj/Mdaresna.Doamin.csproj.nuget.g.props
/Mdaresna.Doamin/obj/project.assets.json
/Mdaresna.Doamin/obj/project.nuget.cache
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.assets.cache
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Mdaresna.Infrastructure/obj/Mdaresna.Infrastructure.csproj.nuget.dgspec.json
/Mdaresna.Infrastructure/obj/Mdaresna.Infrastructure.csproj.nuget.g.props
/Mdaresna.Infrastructure/obj/project.assets.json
/Mdaresna.Infrastructure/obj/project.nuget.cache
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.assets.cache
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.GeneratedMSBuildEditorConfig.editorconfig
/Mdaresna.Repository/obj/Mdaresna.Repository.csproj.nuget.dgspec.json
/Mdaresna.Repository/obj/Mdaresna.Repository.csproj.nuget.g.props
/Mdaresna.Repository/obj/project.assets.json
/Mdaresna.Repository/obj/project.nuget.cache
/Mdaresna/obj/Debug/net8.0/Mdaresna.csproj.CoreCompileInputs.cache
/Mdaresna/obj/Debug/net8.0/Mdaresna.csproj.FileListAbsolute.txt
/Mdaresna/obj/Debug/net8.0/Mdaresna.genruntimeconfig.cache
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.csproj.CoreCompileInputs.cache
/Mdaresna.Doamin/obj/Debug/net8.0/Mdaresna.Doamin.csproj.FileListAbsolute.txt
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.csproj.CoreCompileInputs.cache
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.csproj.FileListAbsolute.txt
/Mdaresna.Infrastructure/obj/Debug/net8.0/Mdaresna.Infrastructure.genruntimeconfig.cache
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.csproj.CopyComplete
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.csproj.CoreCompileInputs.cache
/Mdaresna.Repository/obj/Debug/net8.0/Mdaresna.Repository.csproj.FileListAbsolute.txt
/Mdaresna/Images/62adeff5-abc7-46b0-87ac-42952d750ff9
